<html>

<head>
    {% include "head.html" %}
    <script src='https://cdn.plot.ly/plotly-2.20.0.min.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "plotly_heatmap.html" %}
    <style>
        .small_table_text {
            font-size: 12;
        }
    </style>
</head>

<body>
    <div class="container-fluid ms-2 me-2">
        {% include "header.html" %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{
                    atlas_info.info.atlas_id }}: {{ atlas_info.info.name }}
                </li>
            </ol>
        </nav>
        <h1 class="mb-3">{{ atlas_info.info.atlas_id }}: {{ atlas_info.info.name }}</h1>
        <div class="mb-3 d-flex">
            <div class="row">
                <div class="col-3">
                    <div class="card h-100 bg-success-subtle">
                        <div class="card-body ">
                            <h5 class="card-title">Total File Size</h5>
                            <h6 class="card-subtitle mt-4 mb-4 text-success h2">{{
                                atlas_info.stats.get_total_fize_size_human_readable()}}</h6>
                            <p class="card-text text-muted">Total size of all files
                                submitted to the DCC.</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card h-100 bg-success-subtle">
                        <div class="card-body">
                            <h5 class="card-title">Total Number of Files</h5>
                            <h6 class="card-subtitle mt-4 mb-4 text-success h2">{{
                                "{:,d}".format(atlas_info.stats.get_total_num_files())}}</h6>
                            <p class="card-text text-muted">Total number of files submitted
                                to the DCC.</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card h-100 bg-danger-subtle">
                        <div class="card-body">
                            <h5 class="card-title">Validation Errors</h5>
                            <h6 class="card-subtitle mt-4 mb-4 text-success h2">{{
                                "{:,d}".format(atlas_info.num_errors) }}</h6>
                            <p class="card-text text-muted">Total number of validation
                                errors detected by the DCC dashboard.</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card h-100 bg-warning-subtle">
                        <div class="card-body">
                            <h5 class="card-title">Percent Metadata Complete</h5>
                            <h6 class="card-subtitle mt-4 mb-4 text-success h2">{{
                                "%.1f"|format(100 *
                                atlas_info.stats.percent_metadata_complete) }}%</h6>
                            <p class="card-text text-muted">Total percent of metadata fields
                                completed.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs" id="tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="metadata-file-tab" data-bs-toggle="tab"
                    data-bs-target="#metadata-files-tab-pane" type="button" role="tab">Metadata Files</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="metadata-validation-tab" data-bs-toggle="tab"
                    data-bs-target="#metadata-validation-pane" type="button" role="tab">Metadata
                    Validation</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="completeness-tab" data-bs-toggle="tab" data-bs-target="#completeness-pane"
                    type="button" role="tab">Completeness
                    Summary</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="longitudinal-tab" data-bs-toggle="tab" data-bs-target="#longitudinal-pane"
                    type="button" role="tab">Longitudinal
                    Clinical
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="path-pane-tab" data-bs-toggle="tab" data-bs-target="#path-pane"
                    type="button" role="tab">Path
                    Check (Debug)</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="cytoscape-tab" data-bs-toggle="tab" data-bs-target="#cytoscape-pane"
                    type="button" role="tab">Cytoscape Network (Debug)
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane show active" id="metadata-files-tab-pane" role="tabpanel" tabindex="0">
                {% include "metadata_files.html" %}
            </div>
            <div class="tab-pane" id="metadata-validation-pane" role="tabpanel" tabindex="0">
                {% include "metadata_validation.html" %}
            </div>
            <div class="tab-pane" id="completeness-pane" role="tabpanel" tabindex="0">
                {% include "completeness_check.html" %}
            </div>
            <div class="tab-pane" id="longitudinal-pane" role="tabpanel" tabindex="0">
                {% include "longitudinal.html" %}        
            </div>
            <div class="tab-pane" id="path-pane" role="tabpanel" tabindex="0">
                {% include "path_check.html" %}
            </div>
            <div class="tab-pane" id="cytoscape-pane" role="tabpanel" tabindex="0">
                    <div class="mt-3 ms-1 mb-3">
                    This tab is for HTAN DCC debugging purposes only.  Atlases should please ignore.
                    </div>                
                    <ul class="mt-3">
                        <li><a href="{{ atlas_info.info.atlas_id}}_network.sif">Download Cytoscape SIF
                                Network</a> (DCC Debugging)</li>
                    </ul>
            </div>
        </div>
        <br>
        {% include "footer.html" %}
    </div>
</body>

</html>