<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      margin-left: 20px;
      margin-right:10px;
      margin-top:10px;
      margin-bottom:10px;
    }
    .footer {
      margin: 10px;
    }
    .timestamp {
      padding-top:10px;
      padding-bottom:20px;
    }
    .validation_True {
      background-color: lightgreen !important;
    }
    .validation_False {
      background-color: pink !important;
    }
  </style>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">HTAN Dashboard</span>
    </div>
  </nav>
  <br/>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">
          <a href="{{ project.atlas_id }}.html">{{ project.atlas_id }}:  {{ project.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ heatmap.label }}</li>
    </ol>
  </nav>
    {% set bg_color = "background-color: " + heatmap.bg_color + ";" %}
    <div class="w-95 p-3 m-1" style="{{ bg_color }}">
    <h3>{{ heatmap.label }} </h3>
    {{ heatmap.caption }}
    <br/>
    <br/>
    {% if heatmap.data | length > 0 %}
      <img src="images/{{ heatmap.id }}.png" class="img-thumbnail">
      <br/>
      <br/>
    {% endif %}
    {{ heatmap.df_html | safe}}
    <h5>Debug:  Count Matrix</h5>
    {{ heatmap.counts_html | safe}}
    </div>
  <br/>
  <br/>
  <br/>
</body>

</html>
